<h1>Productos en el carrito</h1>
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
            <th>Acción</th>
        </tr>
    </thead>
    <body>
        {{#each productsInfo}}
            <tr id="fila-{{this.id}}">
                <td>{{this.title}}</td>
                <td id="precio-{{this.id}}">{{this.price}}</td>
                <td id="cantidad-{{this.id}}">{{this.quantity}}</td>
                <td id="subtotal-{{this.id}}">{{this.subtotal}}</td>
                <td> <button onclick="eliminarProductoCarrito('{{this.cartId}}', '{{this.id}}')">Eliminar Producto</button></td>
            </tr>
        {{/each}}
    </body>
</table>
<p id="total">Total: {{totalAmount}}</p>

<button id="checkout-button">Pagar</button>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>

<script>
    const socket = io();

    socket.on('productoEliminado', ({ cartId, productId }) => {
        const cantidadElement = document.getElementById(`cantidad-${productId}`);
        const subtotalElement = document.getElementById(`subtotal-${productId}`);
        cantidadElement.textContent = '0'; 
        subtotalElement.textContent = '0'; 
        const filaProducto = document.getElementById(`fila-${productId}`);
        filaProducto.remove(); 
    });
</script>

<script>
    const userId = '{{userId}}; 
</script>
<script src="/index.js"></script>
